@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;700;800&display=swap');
@import "_variables";
@import "../../node_modules/bulma/bulma.sass";

body{
    min-height: 100vh;

    #__next{
        min-height: 100vh;
    }
}

#contentPanel{
    min-height: 88vh;
}

.article-hero{
    background-size: cover;
    background-position: center;
    height: 30rem;
    text-transform: uppercase;
    padding: 0;

    h1{
        color: white;
        font-weight: bolder;
        font-size: larger;
        line-height: 30rem;
    }

    @include touch () {
        height: 10rem;

        h1{
            line-height: 10rem;
        }
    }
}